.btn{
    background: #44B26F;
    width: 250px;
    height: 46px;
    color: white;
    font-family: Inter;
    font-size: 24px;
    line-height: 29.05px;
}

.btn-table{
    color: rgb(5, 188, 82);
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-table > svg{
    color: black;
    font-size: 24px;
}